.home-container {
  padding-left: 20rem;

  .content {
    padding: 1rem;
  }

  .content-form {
    margin: 3rem auto;
    width: 80%;
    max-width: 45rem;
    color: #fff;

    label {
      span {
        font-size: 2.4rem;
      }
    }

    .input-control {
      display: flex;
      gap: 0.2rem;
      height: 4.5rem;

      input {
        height: 100%;
        border: 0;
        border-radius: 0.3rem 0 0 0.3rem;
      }

      button {
        border: 0;
        display: flex;
        align-items: center;
        padding: 0.8rem;
        font-size: 1.7rem;
        font-weight: 600;
        border-radius: 0 0.3rem 0.3rem 0;
        opacity: 0.7;
        color: #092551;
        transition: 0.5s all ease-in-out;
        background: #ddd;
        cursor: pointer;

        &:hover {
          opacity: 1;
          background: #fff;
        }
      }
    }

    .spinner {
      width: 10rem;
      height: 10rem;
      margin: 5rem auto;
      border: 1rem solid transparent;
      border-top-color: #dfd8d8;
      border-radius: 50%;
      animation: 0.8s turn linear infinite;
      opacity: 0.8;
    }

    .city-content {
      width: 80%;
      max-width: 70rem;
      display: flex;
      margin: 6rem auto;
      border-radius: 0.6rem;
      padding: 0.5rem 1rem;
      background: rgba(255, 255, 255, 0.041);

      .about-city {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-wrap: break-word;

        .location {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          padding: 0.5rem;
          font-size: 2rem;
          font-weight: 500;
        }

        .other-infos {
          display: flex;
          gap: 0.5rem;

          span {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            gap: 0.3rem;
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: capitalize;

            svg {
              display: flex;
              align-items: flex-start;
            }
          }
        }
      }

      .box-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          background: #092551;
          border: 0.2rem solid #ddd;
          padding: 0.2rem 0.4rem;
          border-radius: 0.4rem;
          cursor: pointer;
          transition: 0.4s all ease-in-out;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes turn {
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
