header {
  width: 80%;
  max-width: 30rem;
  padding: 0.8rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  border-radius: 0.7rem;
  color: #fff;

  @media screen and (max-width: 663px) {
    padding: 0.5rem;
    font-size: 1.3rem;
  }

  .spinner {
    width: 1.6rem;
    height: 1.6rem;
    border: 0.2rem solid transparent;
    border-top-color: #ddd;
    border-radius: 50%;
    animation: 0.8s turn linear infinite;
    opacity: 0.8;
  }

  @keyframes turn {
    to {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
}
